body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: rgb(50, 50, 50);
}

.img {
  width: 40vh;
  height: 40vh;
  margin: 30px;
  display: inline-block;
}

.video {
  width: 40vh;
  height: 40vh;
  margin: 30px;
  display: inline-block;
}

.text {
  color: rgb(223, 223, 223);
}